@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}
body {
    background-color: #0a192f;
    position: relative;
}
html {
    scroll-behavior: smooth;
}
/* this is for loading page logo  */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a192f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 66px;
    height: 66px;
    transform-origin: center center;
    animation: logoAnimation 2s infinite;
}

@keyframes logoAnimation {

    0%,
    100% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.3);
    }
}
/* navbar  */

.navbar {
    width: 100%;
    background-color: #0a192faa;
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 100;
    top: 0;
}
.content {
    width: 93%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}
.logo img {
    width: 55px;
}
.links {
    display: flex;
    align-items: center;
}
.links ul {
    display: flex;
}
.links ul li {
    list-style: none;
    margin: 0 6px ;
}
.links ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #a6b6cd;
    padding: 10px;
    letter-spacing: 1px;
}
.links ul li a:hover {
    color: #33acef;
    transition: 0.2s ease-in-out;
}
.links span {
    color: #33acef;
    font-size: 14px;
    font-weight: 600;
}
.x-mark {
    display: none;
}
.menu-bar-links {
    display: flex;
    align-items: center;
}
.resume {
    text-align: center;
    text-decoration: none;
    padding: 8px 15px;
    border: 1.5px solid #33acef;
    color: #33acef;
    border-radius: 3px;
}

.resume:hover {
    background-color: #33acef;
    color: #fff;
}


/* left-side  */

.left-side {
    width: 40px;
    position: fixed;
    left: 40px;
    right: auto;
    bottom: 0;
    z-index: 99;
    background-color: #878e98;
}
.icons {
    position: absolute;
    bottom: 0;
    left: 0;
}
.icons ul {
    display: block;
    align-items: center;
}
.icons ul li {
    list-style-type: none;
    margin-top: 20px;
}
.icons ul li a i {
    color: #a6b6cd;
    font-size: 19px;
    padding: 6px;
}
.icons ul li a i:hover {
    color: #33acef;
    transform: translateY(-3px);
    transition: 0.2s ease-in;
}
.i-l-bar {
    height: 100px;
    border-left: 1.6px solid #a6b6cd;
    margin-left: 14px;
}

/* this is fir right side  */

.right-side {
    width: 40px;
    position: fixed;
    right: 40px;
    left: auto;
    bottom: 0;
}

.mailto {
    position: absolute;
    bottom: 0;
    right: 13px;
    width: max-content;
}

.mailto ul {
    display: block;
}

.mailto ul li {
    list-style-type: none;
    margin-top: 20px;
}

.mailto ul li a {
    text-decoration: none;
    color: #a6b6cd;
    writing-mode: vertical-lr;
    font-size: 13px;
    padding-left: 7px;
}
.mailto ul li a:hover {
    color: #33acef;
    transform: translateY(-3px);
    transition: 0.2s ease-in;
}

/* main content  */
.main {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}
/* this is about content style  */

.header-content {
    padding-top: 280px;
    padding-left: 100px;
    padding-bottom: 150px;
}
.header #my-name {
    color: #33acef;
    margin-bottom: 40px;
}
.header #name {
    color: #ccd6f6;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 50px;
}
.header #p-16 {
    color: #adbff5;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.header #last-p {
    width: 50%;
    font-size: 16px;
    color: #a6b6cd;
    margin-top: 5px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
}

 /* this is about me style  */

.about {
    width: 90%;
    margin: 0 auto;
}
.head {
    display: flex;
    align-items: center;
}
.head h2 {
    color: #ccd6f6;
    font-size: 23px;
    margin-bottom: 20px;
}
.head span {
    color: #33acef;
    font-size: 20px;
    font-weight: 600;
}
.horizontal-bar {
    width: 300px ;
    border-bottom: 1.7px solid #233554;
    margin-top: -15px;
    margin-left: 20px;
}

.about-me {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-text {
    width: 50%;
}
.about-text p {
    font-size: 16px;
    color: #a6b6cd;
    margin-top: 20px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
}

.recently-s {
    margin-left: 50px;
    margin-top: 20px;
}
.recently-s ul {
    display: block;
}
.recently-s ul li {
    list-style-type: none;
    margin: 5px 0;
    color: #a6b6cd;
}
.recently-s span {
    color: #33acef;
    font-size: 14px;
    
}
.my-picture {
    width: 300px;
     box-shadow: 10px 10px 0px 0px #33acef;
     border-radius: 5px;
}
.my-picture:hover {
    box-shadow: -10px 10px 0px 0px #33acef;
    transition: 0.3s ease-in-out;
    opacity: 1;
}
/* this is skills style  */

.skills-bar {
    width: 530px;
}
.skills {
    padding-top: 11%;
    padding-left: 25%;
    margin-bottom: 6%;
}
.skiils-rows {
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-head h2 {
    color: #33acef;
    font-size: 20px;
    margin-bottom: 20px;
    border-left: 3px solid #33acef;
    padding-left: 10px;
}
.skill-col {
    display: block;
    border-left: 1.5px solid #33acef;
    margin-left: 0;
}
.skl-20 {
    margin-right: 6px;
}
.skill-col ul {
    margin-right: 60px;
    padding-left: 10px;
}
.row-1-skl {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}
.vertical-bar {
    width: 15px;
    border-bottom: 1.5px solid #33acef;
}
.arrow {
    display: flex;
    align-items: center;
    margin-left: -10px;
}
.arrow span {
    margin-left: -5px;
}
.prog ul li {
    display: flex;
}
.skill p {
    margin-left: 10px;
}
.prog {
    display: flex;
}
/* this is work style  */

.work {
    width: 80%;
    margin: 0 auto 10%;
    padding-top: 10%;
}

.projects-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    margin-top: 40px;
}
.card {
    background-color: #122547;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 5px #09172c;
    cursor: pointer;
}
.card:hover {
    box-shadow: 1px 1px 10px 5px #051226;
}
.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-row .external-link {
    display: flex;
    align-items: center;
}
.extr a {
    text-decoration: none;
    color: #ccd6f6;
}
.extr a svg {
    width: 23px;
    margin-left: 20px;
}
.extr a svg:hover {
    color: #33acef;
}
.git a i {
    font-size: 20px;
    color: #ccd6f6;
}
.git a i:hover {
    color: #33acef;
}
.feather-folder {
    width: 40px;
    color: #33acef;
}
.w-head h2 {
    font-size: 20px;
    color: #ccd6f6;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
}
.w-head p {
    font-size: 15px;
    color: #ccd6f6;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10px;
}

.sk-use {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 10px;
}
.card:hover h2 {
    color: #33acef;
}
.card:hover .feather-external-link {
    color: #33acef;
}

/* show more buttn  */

.show-more {
    width: max-content;
    margin: 50px auto;
}
.show-more button {
    width: 140px;
    height: 50px;
    background-color: transparent;
    border: 1.5px solid #33acef;
    outline: none;
    color: #33acef;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 3px;
}

.show-more button:hover {
    background-color: #33acef;
    color: #fff;
}


/* say hello style  */

.say-hello {
    width: 80%;
    margin: 0 auto 12%;
}
.hello-head {
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.hello-bar {
    width: 300px;
}
.hello-head h2 {
    font-size: 50px;
    letter-spacing: 0;
    font-family: 'poppins', sans-serif;
}
.hello-btn {
    text-align: center;
    margin: 50px 0;
}
.hello-parg {
    text-align: center;
    max-width: 50%;
    margin: 10px auto 60px;
}
.hello-parg p {
    font-family: 'poppins', sans-serif;
    color: #ccd6f6;
    line-height: 27px;
}
.hello-btn a {
    text-align: center;
    text-decoration: none;
    padding: 13px 25px;
    border: 1.5px solid #33acef;
    color: #33acef;
    border-radius: 3px;
}
.hello-btn a:hover {
    background-color: #33acef;
        color: #fff;
}

/* footer icons  */
.footer-links {
    display: none;
}
/* .this is footer  */

.footer {
    text-align: center;
    margin-bottom: 3%;
}
.footer p {
    color: #ccd6f6;
    font-size: 14px
}
.footer a {
    color: #33acef;
    text-decoration: none;
}

/* this is for pdf viewer  */

#pdfContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pdfViewer {
    width: 100%;
    height: 100%;
}

/* this is for show more projects  */

.hide-card {
    display: none;
}

/* this codes for media queries style  */

.menu-bar {
    display: none;
}

/* this for meadia queries  */

@media only screen and (max-width : 1050px) {
    .about-me {
        display: block;
    }
    .about-text {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .about-picture {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
@media only screen and (min-width : 763px) and (max-width : 900px) {

    /* main content */
        .main {
            max-width: 80%;
        }
    /* header  */
        .header-content {
            padding-left: 50px;
            padding-bottom: 100px;
        }
        .header #name {
            font-size: 50px;
        }
        .header #p-16 {
            font-size: 50px;
        }

        .header #last-p {
            width: 70%;
            font-size: 16px;
            color: #a6b6cd;
            margin-top: 20px;
            line-height: 27px;
            font-family: 'Poppins', sans-serif;
        } 
        /* this is about me style  */
        .head {
            padding-left: 50px;
        }
        .about {
            width: 100%;
            padding-top: 80px;
            margin-bottom: 15%;
        }
        .horizontal-bar {
            width: 100px;
        }
        .about-me p {
            font-size: 16px;
            color: #a6b6cd;
            margin-top: 20px;
            line-height: 27px;
            font-family: 'Poppins', sans-serif;
        }
        .about-me {
            max-width: 85%;
        }
        /* this is skills style  */
        .skills {
            padding-left: 10%;
        }
        .row-1-skl {
            display: block;
            justify-content: flex-start;
            
        }
        .row-1-skl #m-18 {
            margin-top: 40px;
        }
}

/* this is for mini tablet  */

@media only screen and (max-width : 763px) {
    /* navbar  */
    .content {
        width: 90%;
        padding: 20px 0;
    }
    .logo img {
        width: 50px;
    }
    .links.show {
        display: block;
        position: absolute;
        right: 0;
    }
    .links.hide {
        display: none;
    }
    .links {
        display: none;
        background-color: #112240;
        width: 78%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -60%;
        box-shadow: 0px 0px 10px 5px #031024;
    }
    .links ul {
        display: block;
    }
    .links ul li {
        margin: 50px 0;
        text-align: center;
    }
    .links ul li a {
        font-size: 18px;
    }
    .menu-bar-links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }
    .x-mark {
        display: block;
        position: absolute;
        top: 18px;
        right: 23px;
        cursor: pointer;
    }
    .x-mark i {
        font-size: 30px;
        color: #33acef;
        padding: 5px;
    }


    .logo.active img {
        transform: rotate(45deg) translate(-50%, -50%);
    }
    .menu-bar {
        display: block;
        font-size: 30px;
        color: #33acef;
    }
    .resume {
        width: 140px;
        height: 45px;
        background-color: transparent;
        border: 1.5px solid #33acef;
        outline: none;
        color: #33acef;
        margin-left: 15px;
        font-size: 15px;
        letter-spacing: 1px;
        border-radius: 3px;
    }
    .left-side {
        display: none;
    }
    .right-side {
        display: none;
    }
    /* main content  */
    .main {
        max-width: 100%;
    }
    /* header  */
    .header-content {
        width: 100%;
        padding: 200px 40px 50px;
    }
    .header #my-name {
        color: #33acef;
        margin-bottom: 20px;
        font-size: 17px;
    }
    .header #name {
        font-size: 40px;
    }

    .header #p-16 {
        font-size: 40px;
    }

    .header #last-p {
        width: 100%;
        font-size: 16px;
        color: #a6b6cd;
        margin-top: 20px;
        line-height: 27px;
        font-family: 'Poppins', sans-serif;
    }
    /* this is about me style  */
    .head {
        margin-left: 50px;
    }
    .about {
        width: 100%;
        padding-top: 100px;
        margin-bottom: 20%;
    }
    .head h2 {
        font-size: 18px;
    }

    .head span {
        font-size: 16px;
    }

    .horizontal-bar {
        width: 60px;
    }
    .about-me {
        max-width: 88%;
        display: block;
    }
    .about-text {
        width: 90%;
    }
    .about-me p {
        font-size: 16px;
        color: #a6b6cd;
        margin-top: 20px;
        line-height: 27px;
        font-family: 'Poppins', sans-serif;
    }
    .my-picture {
        width: 250px;
    }
    /* this is skills style  */
    .skills {
        padding-left: 10%;
    }

    .row-1-skl {
        display: block;
        justify-content: flex-start;

    }

    .row-1-skl #m-18 {
        margin-top: 40px;
    }
    .p-50 {
        margin-top: 40px;
    }

    /* say hello style  */
    .say-hello {
        width: 80%;
        margin: 0 auto 20%;
    }
    .hello-head h2 {
        font-size: 30px;
        margin: 0;
        margin-bottom: 20px;

    }
    .hello-parg {
        text-align: center;
        max-width: 95%;
        margin: 10px auto 60px;
    }

    /* this is icons in the footer  */

    .footer-links {
        width: max-content;
        margin: 0 auto 20px;
        display: block;
    }

    .footer-links ul {
        display: flex;
        align-items: center;
    }

    .footer-links ul li {
        list-style-type: none;
        margin: 0 10px;
    }

    .footer-links ul li a i {
        color: #a6b6cd;
        font-size: 19px;
        padding: 6px;
    }

    .footer-links ul li a i:hover {
        color: #33acef;
        transform: translateY(-3px);
        transition: 0.2s ease-in;
    }
}

@media only screen and (max-width : 376px) {

    /* this is header  */
    .header-content {
        padding: 120px 0 0 20px;
    }
    .header #my-name {
        font-size: 10px;
    }

    .header #name {
        font-size: 30px;
    }

    .header #p-16 {
        font-size: 30px;
    }

    .header #last-p {
        width: 90%;
        font-size: 16px;
        color: #a6b6cd;
        margin-top: 20px;
        line-height: 27px;
        font-family: 'Poppins', sans-serif;
    }

    /* this is about style  */
    .head h2 {
        color: #ccd6f6;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .head span {
        font-size: 13px;
        font-weight: 600;
    }
    .horizontal-bar {
        display: none;
    }
    .about {
        padding-top: 100px;
        margin-bottom: 20%;
    }
    .my-picture {
        width: 200px;
    }
    /* this is skills style  */

    .skills {
        padding-left: 30px;
    }
    .s-head h2 {
        font-size: 16px;
    }
    .skill-col ul {
        margin-right: 25px;
        padding-left: 10px;
    }
    .skill-col ul li {
        font-size: 13px;
    }
    .prog {
        display: block;
    }
    /* this is work style  */
    .card {
        padding: 20px;
    }
    .projects-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 15px;
        margin-top: 40px;
    }
    .sk-use {
        margin-left: 0;
    }
    .sk-use ul li {
        font-size: 13px;
    }
    .sk-use span {
        display: none;
    }
    .show-more button {
        width: 110px;
        height: 50px;
        background-color: transparent;
        border: 1.5px solid #33acef;
        outline: none;
        color: #33acef;
        font-size: 15px;
        letter-spacing: 1px;
        border-radius: 3px;
        font-size: 13px;
    }

    /* this is say hello button  */
    .hello-head h2 {
        font-size: 22px;
        letter-spacing: 0;
        font-family: 'poppins', sans-serif;
    }
    .hello-btn a {
        text-align: center;
        text-decoration: none;
        padding: 15px 19px;
        border: 1.5px solid #33acef;
        color: #33acef;
        border-radius: 3px;
        font-size: 13px;
    }
}

@media only screen and (max-width : 250px) {
    /* this is skills section  */
    .skills {
        padding-left: 20px;
    }
    .skill-col ul {
        margin-right: 10px;
        padding-left: 10px;
    }
}





















